/* Header Styles */
header {
    background-color: #4a90e2;
    color: rgb(34, 34, 34);
    padding: 10px 0;
    position: sticky; 
    top: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; 
}

header img {
    height: 50px;
    width: auto; 
}

/* Navigation */
.nav {
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end; 
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 10px;
    text-align: center;
}

nav ul li a:hover {
    background-color: #6699ff;
    border-radius: 5px;
}

/* Mobile and Tablets */
@media screen and (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: center; 
    }

    /* Adjust the logo size */
    header img {
        height: 40px;
        margin-bottom: 10px; 
    }

    /* Mobile navigation */
    nav ul {
        flex-direction: row; 
        justify-content: center; 
        flex-wrap: wrap; 
    }

    nav ul li {
        margin-left: 10px;
        margin-bottom: 0; 
        }

    nav ul li a {
        padding: 5px 10px;
        font-size: 14px; 
        text-align: center; 
    }
}

/* For Smaller Mobile Devices */
@media screen and (max-width: 550px) {
    header img {
        height: 30px;
        text-align: center;
    }

    /* Font for smaller screens */
    nav ul li {
        font-size: 12px;
        line-height: 1.5;
    }

    nav ul li a {
        font-size: 5px; 
        padding: 5px 10px; 
        text-align: center; 
    }
}
