.cta {

    background-size: cover;
    padding: 60px 0;
    text-align: center;
    color: rgb(0, 0, 0);
}

.cta h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.cta p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.cta-button {
    padding: 15px 30px;
    background-color: #FF5733;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.cta-button:hover {
    background-color: #E64A19;
}

/* For smaller screens */
@media screen and (max-width: 768px) {
    .cta h2 {
        font-size: 2.5rem;
    }

    .cta p {
        font-size: 1.2rem;
    }
}
